
.products-same {
    width: 50%;
    float: left;
}

.products-images-small {
    width: 15%;
    min-height: 80vh;
    padding-right: 15px;
    float: left;
}

.products-images-big {
    width: 75%;
    float: left;
    overflow: hidden;
    position: relative;
}

.products-images-big-img {
    width: 100%;
    height: 80vh;
    background-image: url('images/products-detail-big1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.3 ease-in-out;
}

.products-images-big-img:hover {
    animation-name: images-big-hover;
    animation-duration: 10s;
    transition: 0.3 ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes images-big-hover {
    0% {}
    25% {
        background-image: url('images/products-detail-big2.jpg');
        transform: scaleX(1.1);
        transition: 0.3 ease-in-out;
    }
    50% {
        background-image: url('images/products-detail-big3.jpg');
        transform: scaleX(1);
        transition: 0.3 ease-in-out;
    }
    75% {
        background-image: url('images/products-detail-big4.jpg');
        transform: scaleX(1.1);
        transition: 0.3 ease-in-out;
    }
    100% {
        background-image: url('images/products-detail-big5.jpg');
        transform: scaleX(1.2);
        transition: 0.3 ease-in-out;
    }
}

/*  */

.label-mot p {
    display: inline-block;
    padding: 2px 5px;
    color: white;
    font-size: 13px;
}

.label-mot p:first-child {
    background-color: #42A5F6;
}

.label-mot p:nth-child(2) {
    background-color: #F54337;
}

.label-mot p:last-child {
    background-color: #25A799;
}

/*  */

.products-title h1 {
    font-size: 24px;
    text-align: left;
}

.products-rating span i {
    font-size: 18px;
    margin: 0 2px;
}

.products-rating span i a {
    font-style: normal;
    font-size: 15px;
    text-decoration: underline;
}

/*  */

.products-infor .sku {
    line-height: 30px;
}

.products-price {
    font-size: 20px;
    font-weight: bold;
}

/*  */

.hurry-up-bar hr {
    width: 100%;
    height: 5px;
    background-color: #E6E5E5;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    position: relative;
    display: inline-block;
}

.hurry-up-bar hr::after {
    content: ".";
    position: absolute;
    width: 10%;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 10;
    display: inline-block;
}

/*  */

.confirm-color p {
    display: inline-block;
    width: 23px;
    height: 23px;
    background-color: #D5D2D1;
    border-radius: 50%;
    margin-right: 5px;
}

.confirm-color h5 {
    margin: 5px 0;
}

.confirm-color p:nth-child(2) {
    background-color: #337563;
}

.confirm-color p:nth-child(3) {
    background-color: #E7C7C2;
}

.confirm-color p:last-child {
    background-color: black;
}

/*  */

.confirm-size span a {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    margin-right: 5px;
    font-size: 13px;
}
/*  */
.confirm-guide p{
    display: inline-block;
    margin-right: 20px;
    text-decoration: underline;
}
/*  */
.confirm-quanliti input{
    width: 80%;
    padding: 8px;
}
.confirm-quanliti a{
    width: 5%;
    display: inline-block;
    margin-top: 1px;
    padding: 8px;
    border: 1px solid #E6E5E5;
    text-align: center;
}
/*  */
.add-cart{
    font-size: 13px;
    text-align: center;
}
.add-cart p{
    padding: 8px;
}
.add-cart-left{
    width: 75%;
    background-color: black;
    color: white;
    float: left;
    margin-right: 2%;
}
.add-cart-right{
    width: 23%;
    background-color: white;
    color: black;
    float: left;
    border: 0.1px solid black;
}
/*  */
.confirm-policy p{
    display: inline-block;
}
input[type="checkbox"]{
    margin-right: 5px;
    width: 15px;
    height: 15px;
    position: relative;
}
/*  */
.confirm-buy{
    text-align: center;
    background-color: #FAE796;
    padding: 8px;
    font-size: 13px;
}