.signup-form{
    width: 30%;
    margin: 0 auto;
}
input{
    width: 100%;
    padding: 8px ;
    font-size: 12px;
}
.signup-title h1{
    font-size: 28px;
}
button{
    width: 100%;
    padding: 12px 0;
    background-color: black;
    color: white;
    border: none;
}
button:hover{
    background-color: white;
    color: black;
    border: 0.5px solid black;
}
.signup-form p:last-child{
    text-align: center;
    text-decoration: underline;
}